<%= render "header" %>
<div class="pageTitle">
  <h1>User List</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Followers: </th>
    <th>Following: </th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.followers.count %></td>
    <td><%= user.following_ids.count %></td>
    <td><%= button_to "Follow/Unfollow"  , user_follow_path(user) , method: :post %></td>
  </tr>
  <% end %>
</table>