<div class="container">
  <div>
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p><%= f.label :age %></p>
    <%= f.number_field :age %>
  </div>
  <div>
    <%= f.submit %>
  </div>
</div>